<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Not Found!</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/static/styles/404.css" />
  </head>
  <body>
    <h1>404 Error Page Not Found!</h1>
    <section class="error-container">
      <span>4</span>
      <span><span class="screen-reader-text">0</span></span>
      <span>4</span>
    </section>
    <div class="link-container">
      <a
        target="_blank"
        class="more-link"
        onclick="history.go(-1)"
        >Go Back!</a
      >
    </div>
    <script src="" async defer></script>
  </body>
</html>
