<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Opencity</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/static/styles/style.css" />

    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
      integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
      crossorigin="anonymous"
    />
    <!-- <link rel="stylesheet" href="/node_modules/aos/dist/aos.css"> -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  </head>

  <body>
    <div class="container-fluid menu-panel" data-aos="fade-down">
      <div class="row text-center">
        <div class="col-3 panels active-panel">
          <a href="#differentiators">differentiators</a>
        </div>
        <div class="col-3 panels"><a href="#features-section">features</a></div>
        <div class="col-3 panels">
          <a href="#customer-benifit-section">customer benifits</a>
        </div>
        <div class="col-3 panels">
          <a href="#restaurant-benifit-section">restaurant benifit</a>
        </div>
      </div>
    </div>
    <div class="container secondary-content" id="differentiators">
      <!-- differentiators -->
      <div class="row">
        <!-- feature-img -->
        <div class="col-lg-5 feature-img">
          <img
            src="https://opencity.co/imgs/why_opencity-differentiators-autometic_detection.svg"
            alt=""
            data-aos="fade-up"
            data-aos-duration="2000"
            data-aos-offset="300"
          />
        </div>
        <!-- space-block -->
        <div class="col-lg-1 space-block"></div>
        <!-- feature-desc -->
        <div class="col-lg-5 feature-desc">
          <p class="feature-title" data-aos="fade-right">AUTOMATIC DETECTION</p>
          <h2 class="feature-phrase" data-aos="fade-up">
            Never Update Your Business Info Again
          </h2>
          <p class="feature-brief lead" data-aos="fade-up" data-aos-delay="100">
            Automatically identifies and updates your business information in
            real-time so you don’t have to.
          </p>
          <hr />
        </div>
      </div>
      <!-- differentiators -->
      <div class="row">
        <!-- feature-img-png -->
        <div class="col-lg-5 feature-img feature-img-png">
          <img
            src="https://opencity.co/imgs/why_opencity-differentiators-conversational_ai.png"
            alt=""
            class="img-fluid"
            data-aos="fade-up"
            data-aos-duration="2000"
            data-aos-offset="300"
          />
        </div>
        <!-- space-block -->
        <div class="col-lg-1 space-block"></div>
        <!-- feature-desc -->
        <div class="col-lg-5 feature-desc">
          <p class="feature-title" data-aos="fade-right">CONVERSATIONAL AI</p>
          <h2 class="feature-phrase" data-aos="fade-up">No Robots</h2>
          <p class="feature-brief lead" data-aos="fade-up" data-aos-delay="100">
            99.7% customers feel they’re talking to a human by having engaging
            and "personal" conversations.
          </p>
          <hr />
        </div>
      </div>
      <!-- differentiators -->
      <div class="row">
        <!-- feature-img -->
        <div class="col-lg-5 feature-img">
          <img
            src="https://opencity.co/imgs/why_opencity-differentiators-centralized_communication.svg"
            alt=""
            data-aos="fade-up"
            data-aos-duration="2000"
            data-aos-offset="300"
          />
        </div>
        <!-- space block -->
        <div class="col-lg-1 space-block"></div>
        <!-- feature-desc -->
        <div class="col-lg-5 feature-desc">
          <p class="feature-title" data-aos="fade-right">
            CENTRALIZED COMMUNICATION
          </p>
          <h2 class="feature-phrase" data-aos="fade-up">One App for All</h2>
          <p class="feature-brief lead" data-aos="fade-up" data-aos-delay="100">
            Customers never download an app and message using Facebook, Google,
            your website or any platform. Restaurants receive and respond using
            one OpenCity app.
          </p>
          <hr />
        </div>
      </div>
      <!-- differentiators -->
      <div class="row">
        <!-- feature-img -->
        <div class="col-lg-5 feature-img">
          <img
            src="https://opencity.co/imgs/why_opencity-differentiators-expand_workforce_without_the_headcount.svg"
            alt=""
            data-aos="fade-up"
            data-aos-duration="2000"
            data-aos-offset="300"
          />
        </div>
        <!-- space block -->
        <div class="col-lg-1 space-block"></div>
        <!-- feature-desc -->
        <div class="col-lg-5 feature-desc">
          <p class="feature-title" data-aos="fade-right">
            EXPAND WORKFORCE WITHOUT THE HEADCOUNT
          </p>
          <h2 class="feature-phrase" data-aos="fade-up">24/7 Coverage</h2>
          <p class="feature-brief lead" data-aos="fade-up" data-aos-delay="100">
            High-quality responses, enabling your staff to focus more on
            operations. The Assistant strengthens customer loyalty, while
            driving more traffic to your business.
          </p>
          <hr />
        </div>
      </div>
      <!-- differentiators -->
      <div class="row">
        <!-- feature-img-png -->
        <div class="col-lg-5 feature-img feature-img-png">
          <img
            src="https://opencity.co/imgs/why_opencity-differentiators-book_more.png"
            alt=""
            class="img-fluid"
            data-aos="fade-up"
            data-aos-duration="2000"
            data-aos-offset="300"
          />
        </div>
        <!-- space-block -->
        <div class="col-lg-1 space-block"></div>
        <!-- feature-desc -->
        <div class="col-lg-5 feature-desc">
          <p class="feature-title" data-aos="fade-right">BOOK MORE</p>
          <h2 class="feature-phrase" data-aos="fade-up">
            Reservations? Covered.
          </h2>
          <p class="feature-brief lead" data-aos="fade-up" data-aos-delay="100">
            Seamlessly books and recommends reservations, curates private event
            inquiries, driving more revenue for your business.
          </p>
          <hr />
        </div>
      </div>
    </div>

    <div class="container-fluid features-section" id="features-section">
      <!-- Request demo panel     -->
      <div class="row" data-aos="fade-up">
        <div class="container how-it-works">
          <div class="row justify-content-center">
            <!-- space-block -->
            <div class="col-lg-1"></div>
            <!-- text-content -->
            <div class="col-lg-7 text-content">
              <h2 class="title">See How It Works</h2>
              <p class="lead phrase">See the OpenCity magic on your website.</p>
            </div>
            <!-- demo-button -->
            <div class="col-lg-3 demo-button">
              <button>REQUEST DEMO</button>
            </div>
            <!-- space-block -->
            <div class="col-lg-1"></div>
          </div>
        </div>
      </div>
      <div class="container-fluid feature-container">
        <div class="row justify-content-center">
          <div class="col-lg-12 text-center my-5">
            <h1 class="features-title display-4">Features</h1>
          </div>

          <div
            class="col-lg-3 col-md-6 feature"
            data-aos="flip-right"
            data-aos-delay="0"
          >
            <div class="container">
              <div class="row justify-content-center align-items-center">
                <div class="col-lg-12 img-div">
                  <img
                    src="https://opencity.co/imgs/icon-any_device_anywhere.svg"
                    alt=""
                    class="feature-graphic"
                  />
                </div>
                <div class="desc-div">
                  <div class="col-lg-12 title-div">
                    <h2 class="catchline">Any device, Anywhere.</h2>
                  </div>
                  <div class="col-lg-6">
                    <hr />
                  </div>
                  <div class="col-lg-12">
                    <p class="lead desc">
                      Run your business from anywhere. Easy to use iPhone, iPad,
                      Android, computer apps.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div
            class="col-lg-3 col-md-6 feature"
            data-aos="fade-up"
            data-aos-delay="100"
          >
            <div class="container">
              <div class="row justify-content-center align-items-center">
                <div class="col-lg-12 img-div">
                  <img
                    src="https://opencity.co/imgs/icon-quick_replies.svg"
                    alt=""
                    class="feature-graphic"
                  />
                </div>
                <div class="col-lg-12 title-div">
                  <h2 class="catchline">Quick Replies.</h2>
                </div>
                <div class="col-lg-6">
                  <hr />
                </div>
                <div class="col-lg-12">
                  <p class="lead desc">
                    Create templates so staff can quickly respond to customer
                    inquiries.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div
            class="col-lg-3 col-md-6 feature"
            data-aos="fade-up"
            data-aos-delay="200"
          >
            <div class="container">
              <div class="row justify-content-center align-items-center">
                <div class="col-lg-12 img-div">
                  <img
                    src="https://opencity.co/imgs/icon-unlimited_users.svg"
                    alt=""
                    class="feature-graphic"
                  />
                </div>
                <div class="col-lg-12 title-div">
                  <h2 class="catchline">Unlimited Users</h2>
                </div>
                <div class="col-lg-6">
                  <hr />
                </div>
                <div class="col-lg-12">
                  <p class="lead desc">
                    Multiple staff can view and respond to guest inquiries,
                    simultaneously.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div
            class="col-lg-3 col-md-6 feature"
            data-aos="fade-up"
            data-aos-delay="300"
          >
            <div class="container">
              <div class="row justify-content-center align-items-center">
                <div class="col-lg-12 img-div">
                  <img
                    src="https://opencity.co/imgs/icon-address_negativity.svg"
                    alt=""
                    class="feature-graphic"
                  />
                </div>
                <div class="col-lg-12 title-div">
                  <h2 class="catchline">Address Negativity</h2>
                </div>
                <div class="col-lg-6">
                  <hr />
                </div>
                <div class="col-lg-12">
                  <p class="lead desc">
                    Immediatley respond to customers privately to avoid negative
                    posts on social media.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div
            class="col-lg-3 col-md-6 feature"
            data-aos="fade-up"
            data-aos-delay="400"
          >
            <div class="container">
              <div class="row justify-content-center align-items-center">
                <div class="col-lg-12 img-div">
                  <img
                    src="https://opencity.co/imgs/icon-smart_routing.svg"
                    alt=""
                    class="feature-graphic"
                  />
                </div>
                <div class="col-lg-12 title-div">
                  <h2 class="catchline">Smart Routing</h2>
                </div>
                <div class="col-lg-6">
                  <hr />
                </div>
                <div class="col-lg-12">
                  <p class="lead desc">
                    Inquiries automatically routed to appropriate staff member -
                    private events routed to sales.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div
            class="col-lg-3 col-md-6 feature"
            data-aos="fade-up"
            data-aos-delay="500"
          >
            <div class="container">
              <div class="row justify-content-center align-items-center">
                <div class="col-lg-12 img-div">
                  <img
                    src="https://opencity.co/imgs/icon-transparency.svg"
                    alt=""
                    class="feature-graphic"
                  />
                </div>
                <div class="col-lg-12 title-div">
                  <h2 class="catchline">Transparency</h2>
                </div>
                <div class="col-lg-6">
                  <hr />
                </div>
                <div class="col-lg-12">
                  <p class="lead desc">
                    Access conversations to view how OpenCity and your team
                    respond to customer inquiries.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div
            class="col-lg-3 col-md-6 feature"
            data-aos="fade-up"
            data-aos-delay="600"
          >
            <div class="container">
              <div class="row justify-content-center align-items-center">
                <div class="col-lg-12 img-div">
                  <img
                    src="https://opencity.co/imgs/icon-reservation.svg"
                    alt=""
                    class="feature-graphic"
                  />
                </div>
                <div class="col-lg-12 title-div">
                  <h2 class="catchline">Book Reservations</h2>
                </div>
                <div class="col-lg-6">
                  <hr />
                </div>
                <div class="col-lg-12">
                  <p class="lead desc">
                    Seamlessly books and recommends reservations, private events
                    and more.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div
            class="col-lg-3 col-md-6 feature"
            data-aos="fade-up"
            data-aos-delay="700"
          >
            <div class="container">
              <div class="row justify-content-center align-items-center">
                <div class="col-lg-12 img-div">
                  <img
                    src="https://opencity.co/imgs/icon-coverage.svg"
                    alt=""
                    class="feature-graphic"
                  />
                </div>
                <div class="col-lg-12 title-div">
                  <h2 class="catchline">24/7 Coverage</h2>
                </div>
                <div class="col-lg-6">
                  <hr />
                </div>
                <div class="col-lg-12">
                  <p class="lead desc">
                    Customers expect instant responses. OpenCity allows you to
                    always be "open" for business.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="container-fluid customer-benifit-section justify-content-center"
      id="customer-benifit-section"
    >
      <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-4 benifits-text">
          <h3 class="title" data-aos="fade-right">CUSTOMER BENEFITS</h3>
          <h1 data-aos="fade-down" data-aos-delay="100">
            Customers Expect More
          </h1>
          <p class="lead reason" data-aos="fade-down" data-aos-delay="300">
            Everyone is on the go. Customers expect speed and accuracy, to fit
            their lifestyle and dining preferences.
          </p>
          <div class="container-fluid my-5 px-0" data-aos="fade-up">
            <div class="row">
              <div class="col-lg-2">
                <img
                  src="https://opencity.co/imgs/icon-instant_response.svg"
                  alt=""
                  class="benifit-icon"
                />
              </div>
              <div class="col-lg-10">
                <h2>Instant Response</h2>
                <p class="lead benifit-desc">
                  The OpenCity Assistant responds to every customer inquiry,
                  24/7. It’s that easy.
                </p>
              </div>
            </div>
          </div>
          <div class="container-fluid my-5 px-0" data-aos="fade-up">
            <div class="row">
              <div class="col-lg-2">
                <img
                  src="https://opencity.co/imgs/icon-easy_to_communicate.svg"
                  alt=""
                  class="benifit-icon"
                />
              </div>
              <div class="col-lg-10">
                <h2>Easy to Communicate</h2>
                <p class="lead benifit-desc">
                  No app downloads. Customers can easily text from your website,
                  SMS, Facebook, Google and more
                </p>
              </div>
            </div>
          </div>
          <div class="container-fluid my-5 px-0" data-aos="fade-up">
            <div class="row">
              <div class="col-lg-2">
                <img
                  src="https://opencity.co/imgs/icon-more_personal.svg"
                  alt=""
                  class="benifit-icon"
                />
              </div>
              <div class="col-lg-10">
                <h2>More Personal</h2>
                <p class="lead benifit-desc">
                  Anniversary, wedding, birthday, corporate outing, any life
                  event. OpenCity has you covered.
                </p>
              </div>
            </div>
          </div>
          <div class="container-fluid my-5 px-0" data-aos="fade-up">
            <div class="row">
              <div class="col-lg-2">
                <img
                  src="https://opencity.co/imgs/icon-customers_want.svg"
                  alt=""
                  class="benifit-icon"
                />
              </div>
              <div class="col-lg-10">
                <h2>It’s What Customers Want</h2>
                <p class="lead benifit-desc">
                  Everybody texts. It’s how we communicate in their daily lives.
                  Your business can now enter the circle of trust.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 benifit-image" data-aos="fade-left">
          <img
            src="https://images.unsplash.com/photo-1595475038784-bbe439ff41e6"
            alt=""
            class="img-fluid"
          />
        </div>
      </div>
      <div class="row" id="restaurant-benifit-section">
        <div class="col-lg-2"></div>
        <div class="col-lg-4 benifits-text">
          <h3 class="title" data-aos="fade-right">RESTAURANT BENEFITS</h3>
          <h1 data-aos="fade-down" data-aos-delay="100">
            Do What You Do, Even Better
          </h1>
          <p class="lead reason" data-aos="fade-down" data-aos-delay="100">
            Managing a restaurant has a lot of moving parts. OpenCity makes it
            easy to respond to all inquiries in real time.
          </p>
          <div class="container-fluid my-5 px-0" data-aos="fade-up">
            <div class="row">
              <div class="col-lg-2">
                <img
                  src="https://opencity.co/imgs/icon-easy_to_integrate_manage_and_use.svg"
                  alt=""
                  class="benifit-icon"
                />
              </div>
              <div class="col-lg-10">
                <h2>Easy to Integrate, Manage & Use</h2>
                <p class="lead benifit-desc">
                  Seamlessly integrates with other tech products you use and
                  love. It’s so easy your team will be up to speed in minutes.
                </p>
              </div>
            </div>
          </div>
          <div class="container-fluid my-5 px-0" data-aos="fade-up">
            <div class="row">
              <div class="col-lg-2">
                <img
                  src="https://opencity.co/imgs/icon-expantion_of_workforce.svg"
                  alt=""
                  class="benifit-icon"
                />
              </div>
              <div class="col-lg-10">
                <h2>Expansion of Workforce</h2>
                <p class="lead benifit-desc">
                  Virtually add an extra staff member without increasing the
                  headcount, making your whole team more efficient.
                </p>
              </div>
            </div>
          </div>
          <div class="container-fluid my-5 px-0" data-aos="fade-up">
            <div class="row">
              <div class="col-lg-2">
                <img
                  src="https://opencity.co/imgs/icon-create_new_revenue_streams.svg"
                  alt=""
                  class="benifit-icon"
                />
              </div>
              <div class="col-lg-10">
                <h2>Create New Revenue Streams</h2>
                <p class="lead benifit-desc">
                  Anniversary, wedding, birthday, corporate outing, any life
                  event. OpenCity has you covered.
                </p>
              </div>
            </div>
          </div>
          <div class="container-fluid my-5 px-0" data-aos="fade-up">
            <div class="row">
              <div class="col-lg-2">
                <img
                  src="https://opencity.co/imgs/icon-restaurants_need.svg"
                  alt=""
                  class="benifit-icon"
                />
              </div>
              <div class="col-lg-10">
                <h2>It’s What Restaurants Need</h2>
                <p class="lead benifit-desc">
                  Improve workforce efficiency. OpenCity enables your staff to
                  focus on operations, customer experience and loyalty.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 benifit-image" data-aos="fade-left">
          <img
            src="https://images.unsplash.com/photo-1595475038784-bbe439ff41e6"
            alt=""
            class="img-fluid"
          />
        </div>
      </div>
    </div>

    <div class="container-fluid are-you-ready-container" data-aos="fade-up">
      <div class="row justify-content-center">
        <div class="col-lg-12" data-aos="fade-up">
          <h4>GET STARTED TODAY</h4>
        </div>
        <div class="col-lg-12" data-aos="fade-up"><h2>Are you ready?</h2></div>
        <div class="col-lg-6" data-aos="fade-up">
          <p class="lead" data-aos="fade-up">
            We’re here for you. You’re just minutes away from joining our
            growing community of happy customers.
          </p>
        </div>
        <div class="col-lg-12" data-aos="fade-up">
          <button>START NOW FOR FREE</button>
        </div>
        <div class="col-lg-12" data-aos="fade-up">
          <p class="lead">
            Unlimited PRO service to $49/month with no commitment
          </p>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row footer">
        <div class="col-lg-2 col-sm-12 text-center">
          <a href="landing.html" class="navbar-brand"><span>OpenCity</span></a>
        </div>
        <div class="col-lg-10 col-sm-12 footer-links">
          <ul class="links py-0 my-0">
            <li class="nav-item">
              <a href="index.html" class="nav-link">WHY OPENCITY</a>
            </li>
            <li class="nav-item">
              <a href="404.html" class="nav-link">HOW IT WORKS</a>
            </li>
            <li class="nav-item">
              <a href="404.html" class="nav-link">CUSTOMERS</a>
            </li>
            <li class="nav-item"><a href="404.html" class="nav-link">ABOUT US</a></li>
            <li class="nav-item"><a href="404.html" class="nav-link">BLOG</a></li>
            <li class="nav-item"><a href="404.html" class="nav-link">JOBS</a></li>
            <li class="nav-item">
              <a href="404.html" class="nav-link">CONTACT US</a>
            </li>
          </ul>
        </div>
        <div class="col-12 horizontal-line"><hr /></div>
      </div>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript" src="template/commom/header.js"></script>
    <!-- <script src="/node_modules/aos/dist/aos.js" async defer></script>
    <script>
      AOS.init();
    </script> -->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
