<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/static/styles/style.css" />
    <link rel="stylesheet" href="/static/styles/landing.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
      integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
      crossorigin="anonymous"
    />
    <!-- <link rel="stylesheet" href="/node_modules/aos/dist/aos.css"> -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  </head>
  <body>
    <div class="container-fluid px-0 side-image-div">
      <div class="row">
        <div class="col-lg-12">
          <img
            src="https://opencity.co/imgs/special-thumbnail.png"
            alt=""
            class="img-fluid side-image"
          />
        </div>
      </div>
    </div>
    <div class="container-fluid virtual-assistant-div px-0">
      <div class="row">
        <div class="col-lg-8 content">
          <div class="container-fluid justify-content-center content-wrapper">
            <div class="row">
              <div class="col-lg-3"></div>
              <div class="col-lg-7 benifits-text">
                <h3 class="title" data-aos="fade-right">VIRTUAL ASSISTANT</h3>
                <h1 data-aos="fade-down" data-aos-delay="100">
                  <span></span>
                  I’m Your New Assistant
                </h1>
                <p
                  class="lead reason"
                  data-aos="fade-down"
                  data-aos-delay="300"
                >
                  OpenCity automatically responds to customer questions,
                  improves productivity and creates new revenue, 24/7.
                </p>
                <div class="container-fluid my-5 px-0" data-aos="fade-up">
                  <div class="row">
                    <div class="col-lg-2 align-items-center">
                      <img
                        src="https://opencity.co/imgs/icon--coverage.svg"
                        alt=""
                        class="benifit-icon"
                      />
                    </div>
                    <div class="col-lg-10">
                      <h2 class="catchline">24/7 Coverage</h2>
                      <p class="lead benifit-desc">
                        Customers expect instant information at any time
                      </p>
                    </div>
                  </div>
                </div>
                <div class="container-fluid my-5 px-0" data-aos="fade-up">
                  <div class="row">
                    <div class="col-lg-2">
                      <img
                        src="https://opencity.co/imgs/icon--expend.svg"
                        alt=""
                        class="benifit-icon"
                      />
                    </div>
                    <div class="col-lg-10">
                      <h2 class="catchline">"Expand" Your Workforce</h2>
                      <p class="lead benifit-desc">
                        Increase efficiency and coverage without extra headcount
                      </p>
                    </div>
                  </div>
                </div>
                <div class="container-fluid my-5 px-0" data-aos="fade-up">
                  <div class="row">
                    <div class="col-lg-2">
                      <img
                        src="https://opencity.co/imgs/icon--money.svg"
                        alt=""
                        class="benifit-icon"
                      />
                    </div>
                    <div class="col-lg-10">
                      <h2 class="catchline">Make More Money</h2>
                      <p class="lead benifit-desc">
                        Book reservations, curate private events, generate leads
                      </p>
                    </div>
                  </div>
                </div>
                <div class="container-fluid my-5 px-0" data-aos="fade-up">
                  <div class="row align-items-center">
                    <div class="col-lg-3">
                      <button class="drive-thru" style="font-size: 15px">
                        Request Demo
                      </button>
                    </div>
                    <div class="col-lg-9"></div>
                  </div>
                </div>
              </div>
              <div class="col-lg-2"></div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 phone-image">
          <img src="/images/phone-chat.svg" alt="" />
        </div>
      </div>

      <div class="container-fluid how-it-works-section">
        <div class="row text-center">
          <div class="container how-it-works-wrapper">
            <div class="row justify-content-center">
              <div class="col-lg-12">
                <h1 class="how-it-works-title">HOW IT WORKS</h1>
              </div>
              <div class="col-lg-12">
                <h1 class="how-it-works-tagline">
                  It’s Just Texting. It’s That Easy.
                </h1>
              </div>
              <div class="col-lg-10">
                <p class="lead how-it-works-desc">
                  OpenCity easily integrates with your website and instantly
                  aggregates all social media messages enabling you to respond
                  to customer inquiries from one place.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row" data-aos="fade-up">
          <div class="container">
            <div class="row">
              <div class="col-lg-12 slide-features">
                <!-- https://opencity.co/imgs/how_it_works-illustration-step1.svg -->
                <div
                  id="carouselExampleIndicators"
                  class="carousel slide"
                  data-ride="carousel"
                >
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <div class="container">
                        <div class="row" style="padding: 2rem 5rem">
                          <div class="col-lg-6 slide-img">
                            <img
                              class="d-block w-50"
                              src="https://opencity.co/imgs/how_it_works-illustration-step1.svg"
                              alt="First slide"
                            />
                          </div>
                          <div class="col-lg-6 slide-desc">
                            <h1>Customers Text Your Business</h1>
                            <p class="lead">
                              Lorem ipsum, dolor sit amet consectetur
                              adipisicing elit. Mollitia assumenda corporis a
                              eius itaque amet perspiciatis facilis et! Rerum
                              nemo at reprehenderit molestiae quia nihil fuga
                              quos ab, a enim?
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="carousel-item">
                      <div class="container">
                        <div class="row" style="padding: 2rem 5rem">
                          <div class="col-lg-6 slide-img">
                            <img
                              class="d-block w-50"
                              src="https://opencity.co/imgs/how_it_works-illustration-step1.svg"
                              alt="First slide"
                            />
                          </div>
                          <div class="col-lg-6 slide-desc">
                            <h1>Opencity Responds Immediately</h1>
                            <p class="lead">
                              Lorem ipsum, dolor sit amet consectetur
                              adipisicing elit. Mollitia assumenda corporis a
                              eius itaque amet perspiciatis facilis et! Rerum
                              nemo at reprehenderit molestiae quia nihil fuga
                              quos ab, a enim?
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="carousel-item">
                      <div class="container">
                        <div class="row" style="padding: 2rem 5rem">
                          <div class="col-lg-6 col-md-12 slide-img">
                            <img
                              class="d-block w-50"
                              src="https://opencity.co/imgs/how_it_works-illustration-step1.svg"
                              alt="First slide"
                            />
                          </div>
                          <div class="col-lg-6 col-md-12 slide-desc">
                            <h1>Tough problems? No Problems</h1>
                            <p class="lead">
                              Lorem ipsum, dolor sit amet consectetur
                              adipisicing elit. Mollitia assumenda corporis a
                              eius itaque amet perspiciatis facilis et! Rerum
                              nemo at reprehenderit molestiae quia nihil fuga
                              quos ab, a enim?
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <a
                    class="carousel-control-prev"
                    href="#carouselExampleIndicators"
                    role="button"
                    data-slide="prev"
                  >
                    <span
                      class="carousel-control-prev-icon"
                      aria-hidden="true"
                    ></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a
                    class="carousel-control-next"
                    href="#carouselExampleIndicators"
                    role="button"
                    data-slide="next"
                  >
                    <span
                      class="carousel-control-next-icon"
                      aria-hidden="true"
                    ></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid differentiators-section">
        <div class="row">
          <div class="container section-wrapper">
            <div class="row text-center">
              <div class="col-lg-12">
                <h1 class="how-it-works-title" data-aos="fade-up">
                  DIFFERENTIATORS
                </h1>
              </div>
              <div class="col-lg-12">
                <h1 class="differentiator-catchline" data-aos="fade-up">
                  So, Why Choose Opencity?!
                </h1>
              </div>
              <div class="col-lg-12 my-5 feature-section" data-aos="fade-up">
                <div class="container">
                  <div class="row justify-content-center">
                    <div class="col-lg-4 feature-block" data-aos="fade-left">
                      <div class="feature-img">
                        <img
                          src="https://opencity.co/imgs/icon--automatic_updates.svg"
                          alt=""
                        />
                      </div>
                      <h2 class="name">Automatic Updates</h2>
                      <hr class="feature-hr" />
                      <p class="lead">
                        Identifies and updates your business info in real-time
                        so you don’t have to - hours, directions, menus, gluten
                        free...everything
                      </p>
                    </div>
                    <div
                      class="col-lg-4 feature-block"
                      data-aos="fade-right"
                      data-aos-delay="200"
                    >
                      <div class="feature-img">
                        <img
                          src="https://opencity.co/imgs/icon--automatic_updates.svg"
                          alt=""
                        />
                      </div>
                      <h2 class="name">Automatic Updates</h2>
                      <hr class="feature-hr" />
                      <p class="lead">
                        Identifies and updates your business info in real-time
                        so you don’t have to - hours, directions, menus, gluten
                        free...everything
                      </p>
                    </div>
                    <div class="col-lg-4 feature-block" data-aos="fade-left">
                      <div class="feature-img">
                        <img
                          src="https://opencity.co/imgs/icon--automatic_updates.svg"
                          alt=""
                        />
                      </div>
                      <h2 class="name">Automatic Updates</h2>
                      <hr class="feature-hr" />
                      <p class="lead">
                        Identifies and updates your business info in real-time
                        so you don’t have to - hours, directions, menus, gluten
                        free...everything
                      </p>
                    </div>
                    <div
                      class="col-lg-4 feature-block"
                      data-aos="fade-right"
                      data-aos-delay="200"
                    >
                      <div class="feature-img">
                        <img
                          src="https://opencity.co/imgs/icon--automatic_updates.svg"
                          alt=""
                        />
                      </div>
                      <h2 class="name">Automatic Updates</h2>
                      <hr class="feature-hr" />
                      <p class="lead">
                        Identifies and updates your business info in real-time
                        so you don’t have to - hours, directions, menus, gluten
                        free...everything
                      </p>
                    </div>
                    <div class="col-lg-12 my-5">
                      <h1 class="tagline" data-aos="fade-up">
                        We implement <span>NLU</span> &
                        <span style="color: greenyellow">NLP</span> technology
                      </h1>
                      <a href="index.html"
                        ><button
                          class="drive-thru"
                          data-aos="fade-right"
                          data-aos-delay="200"
                        >
                          LEARN MORE
                        </button></a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid benifits-section">
        <div class="container section-wrapper">
          <div class="row">
            <div class="col-lg-12 how-it-works-banner">
              <div class="container">
                <div class="row">
                  <div class="col-lg-5 col-sm-12">
                    <h1>See How It Works</h1>
                    <p class="lead">See the OpenCity magic on your website.</p>
                  </div>
                  <div class="col-lg-2 col-sm-12"></div>
                  <div class="col-lg-5 col-sm-12 register-button-div">
                    <button>Register</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 customer-benifit px-0 py-0" data-aos="fade">
              <img
                src="https://images.unsplash.com/photo-1554257281-3dba342159d5"
                alt=""
                class="img-fluid"
              />
              <div class="text-content">
                <h1>Customer Benifits</h1>
                <p class="lead">
                  <img
                    src="https://opencity.co/imgs/icon--comments.svg"
                    alt=""
                    class="img-fluid"
                  />Everybody Texts
                </p>
                <p class="lead">
                  <img
                    src="https://opencity.co/imgs/icon--historical.svg"
                    alt=""
                    class="img-fluid"
                  />No One Likes To Wait
                </p>
                <p class="lead">
                  <img
                    src="https://opencity.co/imgs/icon--timer.svg"
                    alt=""
                    class="img-fluid"
                  />Customers expect accuracy
                </p>
              </div>
            </div>
            <div
              class="col-lg-6 restaurant-benifit px-0 py-0"
              data-aos="fade"
              data-aos-delay="200"
            >
              <img
                src="https://images.unsplash.com/photo-1414235077428-338989a2e8c0"
                alt=""
                class="img-fluid"
              />
              <div class="text-content">
                <h1>Restaurant Benifits</h1>
                <p class="lead">
                  <img
                    src="https://opencity.co/imgs/icon--thumbs_up.svg"
                    alt=""
                    class="img-fluid"
                  />Easy to use, easy to manage
                </p>
                <p class="lead">
                  <img
                    src="https://opencity.co/imgs/icon--hearts.svg"
                    alt=""
                    class="img-fluid"
                  />Better customer experience
                </p>
                <p class="lead">
                  <img
                    src="https://opencity.co/imgs/icon--circled_up.svg"
                    alt=""
                    class="img-fluid"
                  />mproves productivity
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid clients-section my-5">
        <div class="container-fluid section-wrapper">
          <div class="row">
            <div class="col-lg-6 video-div px-0" data-aos="fade-left">
              <div class="container">
                <div class="row">
                  <div class="col-lg-12 embed-responsive embed-responsive-16by9">
                    <iframe width="500" height="600" src="https://www.youtube.com/embed/lcU3pruVyUw?modestbranding=1&autohide=1&showinfo=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 video-text-desc px-5" data-aos="fade-right" data-aos-delay="200">
              <h1 class="title" data-aos="fade-up">OUR CLIENTS</h1>
              <h2 class="clients-tagline" data-aos="fade-up" data-aos-delay="200">Today's Restaurants Rely on OpenCity</h2>
              <p class="lead" data-aos="fade-up" data-aos-delay="300">James Beard Winners, Fine Dining, International, Breweries, Fast Casual, Bars and Nightclubs have one thing in common...they all use OpenCity to make customers happy.</p>
              <div class="container-fluid px-0 mx-0" data-aos="fade-up">
                <div class="row">
                  <div class="col-lg-12" data-aos="fade-up" data-aos-delay="300">
                    <h1 class="title">OFFICIAL AI MESSAGING PARTNER OF RLC & FSTEC</h1>
                  </div>
                  <div class="col-lg-6" data-aos="fade-left" data-aos-delay="400">
                    <img src="https://opencity.co/imgs/partner-restaurant_leadership_conference.png" alt="">
                  </div>
                  <div class="col-lg-6" data-aos="fade-right" data-aos-delay="500">
                    <img src="https://opencity.co/imgs/partner-fs_tec.png" alt="">
                  </div>
                  <div class="col-lg-12">
                    <hr>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
        </div>

        </div>
      </div>
    </div>

    <!-- scripts -->
    <script type="text/javascript" src="commom/header.js"></script>
    <script type="text/javascript" src="./commom/title.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
