html {
  font-family: "Poppins", sans-serif !important;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif !important;
  min-height: 100vh;
  margin: 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.signin-container {
  max-width: 475px !important;
  min-width: 60% !important;
  min-height: 75vh !important;
  border-radius: 10px;
  background-color: #ffffff;
  filter: drop-shadow(2px 2px 10px #c5c5c5);
}
.signin-container .user-inputs input,
button {
  width: 100%;
  min-height: 50px !important;
  margin-bottom: 20px;
  border-radius: 7px;
  outline: none;
  border: none;
}

.signin-container .user-inputs input {
  background-color: #eeeeee;
  padding-left: 20px;
}
.signin-container .user-inputs button {
  position: relative;
  z-index: 1;
  transition: 0.25s ease-in;
  background: linear-gradient(
    144deg,
    rgba(94, 38, 255, 1) 0%,
    rgba(178, 122, 255, 1) 75%
  );
  min-height: 40px !important;
  color: white;
  border-radius: 7px;
  filter: drop-shadow(0px 5px 8px #b7a7da);
}

.signin-container .user-inputs button::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    144deg,
    rgba(113, 65, 255, 0.5) 0%,
    rgba(228, 156, 213, 1) 90%
  );
  z-index: -1;
  transition: opacity 0.25s linear;
  opacity: 0;
  border-radius: 7px;
}

.signin-container .user-inputs button:hover::before {
  opacity: 1;
}
.signin-container .user-inputs .reset-link {
  margin-top: 20px;
}

.signin-container .user-inputs .reset-link a {
  color: #472876;
  text-decoration: none;
}
