html {
  font-family: "Poppins", sans-serif !important;
}

body {
  font-family: "Poppins", sans-serif !important;
  box-sizing: border-box;
  min-height: 90vh;
}

#navbarNav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.navbar-nav:nth-of-type(1) li {
  margin: 0 15px;
  font-size: 13px;
  font-weight: 700;
}
.navbar-nav:nth-of-type(2) li {
  margin: 0 10px;
  font-size: 13px;
  font-weight: 700;
}

a.navbar-brand span {
  color: white;
  font-weight: 500;
  font-size: 35px !important;
}

.active-color {
  color: white !important;
}
a.nav-link {
  outline: none;
  transition: color 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  color: rgba(255, 255, 255, 0.5) !important;
}

a.nav-link:hover {
  color: white !important;
}

a.sign-in {
  color: white !important;
}
a.demo {
  font-weight: 700;
  border: 2px solid white;
  border-radius: 25px;
  color: white !important;
  padding: 10px 20px;
}

a.drive-thru {
  border: 2px solid white;
  transition: 200ms ease-in;
  font-weight: 700;
  border-radius: 25px;
  background-color: white;
  color: #b30197 !important;
  padding: 10px 20px;
}
a.drive-thru:hover {
  background-color: rgba(255, 255, 255, 0);
  color: white !important;
}
h1.tagline {
  animation: titleanim 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
  margin-top: 20px;
  font-weight: 300 !important;
  font-size: 3.5rem;
  color: rgb(255, 255, 255);
}
h1.tagline span {
  font-weight: 600;
}

.overlay-div {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  min-height: 65%;
  background: linear-gradient(
    135deg,
    rgba(66, 0, 123, 1) 20%,
    rgba(187, 0, 167, 1) 100%
  );
}
.menu-panel {
  cursor: pointer;
  animation: panelanim 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  position: absolute;
  top: 65%;
  min-height: 50px;
}
.active-panel {
  background-color: #b30197 !important;
  color: white !important;
}
.menu-panel .panels {
  text-transform: uppercase;
  transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  font-weight: 700;
  font-size: 15px;
  min-height: 50px;
  border: 1px solid #e6dae4;
  border-top: none;
  border-left: none;
  color: #b30197;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 10px;
  background-color: white;
}
.menu-panel .panels:hover {
  background-color: #b30197;
  color: white;
}

.secondary-content {
  position: relative;
  top: 80vh;
  width: 100%;
}

.feature-img {
  border-radius: 50%;
  background-color: #f7f6fb;
}

.feature-img-png {
  overflow: hidden;
}
.space-block {
  margin: 0 15px;
}
.feature-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.feature-desc p.feature-title {
  font-size: 15px;
  font-weight: 700;
  color: #b30197;
  margin-bottom: 3rem;
}

.feature-desc h2.feature-phrase {
  color: #42007b;
  font-weight: 700;
  font-size: 2.5rem;
}
.feature-desc p.feature-brief {
  color: #9d93a1;
  font-weight: 400;
  padding-bottom: 2rem;
  border-bottom: 1px solid #ffd4f7;
}
.secondary-content .row {
  margin-top: 10rem;
}

.secondary-content .row:nth-child(even) {
  margin-top: 10rem;
  display: flex;
  flex-direction: row-reverse;
}


.features-section
{

    position: relative;
    top: 120vh;
    min-height: 100vh;
    background-color: #f7f6fb;
}
.how-it-works
{
    max-width: 1200px !important;
    padding: 20px 20px;
    min-height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #b30197;
    transform: translateY(-50%);
}
.text-content h2
{
    color: white;
    font-weight: 700;
    font-size: 2.5rem;
}
.text-content p
{
    color: white;
    font-weight: 400;
    font-size: 20px;
}
.demo-button
{
    margin: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.demo-button button
{
    font-size: 13px;
    font-weight: 700;
    color: #b30197;
    padding: 15px 20px;
    border-radius: 25px;
    border: none;
    outline: none;
}
/* ##############animations############ */

@keyframes panelanim {
  0% {
    top: 45%;
    opacity: 0;
  }
  100% {
    top: 65%;
    opacity: 1;
  }
}
@keyframes titleanim {
  0% {
    opacity: 0;
    transform: translateY(100px);
    color: rgba(255, 255, 255, 0) !important;
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
    color: rgba(255, 255, 255, 1) !important;
  }
}
